[{ config,
   [ #{ files   => ["src/*.erl", "test/*.erl"]
      , ruleset => erl_files
      , rules   => [ {elvis_style, operator_spaces, #{ rules => [ {right, ","}
                                                                , {left , "-"}
                                                                , {right, "+"}
                                                                , {left , "+"}
                                                                , {right, "*"}
                                                                , {left , "*"}
                                                                , {right, "--"}
                                                                , {left , "--"}
                                                                , {right, "++"}
                                                                , {left , "++"}
                                                                , {right, "->"}
                                                                , {left , "->"}
                                                                , {right, "=>"}
                                                                , {left , "=>"}
                                                                , {right, "<-"}
                                                                , {left , "<-"}
                                                                , {right, "<="}
                                                                , {left , "<="}
                                                                , {right, "||"}
                                                                , {left , "||"}
                                                                , {right, "!"}
                                                                , {left , "!"}
                                                                , {right, "=:="}
                                                                , {left , "=:="}
                                                                , {right, "=/="}
                                                                , {left , "=/="}
                                                                ]}}
                   , {elvis_style, dont_repeat_yourself, #{ min_complexity => 15 }}
                   , {elvis_text_style, max_line_length, #{limit => 100, skip_comments => whole_line}}
                   , {elvis_style, no_invalid_dynamic_calls, #{ ignore => [aws_credentials_providers_SUITE] }}
                   ]
      }
   , #{ files   => ["rebar.config"]
      , ruleset => rebar_config
      }
   ]}
].
